<h2>table</h2>

<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  *ngIf="dataSource"
>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="subSector">
    <th mat-header-cell *matHeaderCellDef>subSector</th>
    <td mat-cell *matCellDef="let element">{{ element.subSector }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cap">
    <th mat-header-cell *matHeaderCellDef>cap</th>
    <td mat-cell *matCellDef="let element">{{ element.cap }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="LTP">
    <th mat-header-cell *matHeaderCellDef>LTP</th>
    <td mat-cell *matCellDef="let element">{{ element.LTP }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="PE">
    <th mat-header-cell *matHeaderCellDef>PE</th>
    <td mat-cell *matCellDef="let element">{{ element.PE }}</td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="YGwt">
    <th mat-header-cell *matHeaderCellDef>YGwt</th>
    <td mat-cell *matCellDef="let element">{{ element.YGwt }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="YEPS">
    <th mat-header-cell *matHeaderCellDef>YEPS</th>
    <td mat-cell *matCellDef="let element">{{ element.YEPS }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="EPS">
    <th mat-header-cell *matHeaderCellDef>EPS</th>
    <td mat-cell *matCellDef="let element">{{ element.EPS }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="NCash">
    <th mat-header-cell *matHeaderCellDef>NCash</th>
    <td mat-cell *matCellDef="let element">{{ element.NCash }}</td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="OCash">
    <th mat-header-cell *matHeaderCellDef>OCash</th>
    <td mat-cell *matCellDef="let element">{{ element.OCash }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
