<div class="col-sm-12">
<h1>file-upload works!</h1>
</div>
<div class="col-sm-6">
  <h2>Upload File</h2>
  <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
</div>
<div class="col-sm-6">
  <h2>New Chart</h2>
  <google-chart *ngIf="data" #chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames"
    [options]="options" [width]="width" [height]="height" (select)="selectElement($event)">
  </google-chart>
</div>
<div class="col-sm-12">
<h2>Stocks data</h2>
</div>
<pinstocks-stocks-data *ngIf="tableData" [dataSource]="tableData"></pinstocks-stocks-data>
